.input {
  width: 300px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px auto;
  border: 0;

  &__box {
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
  }

  &--wrong {
    border: 2px solid rgb(255, 2, 2);
  }

  &--outline-none:focus {
    outline: none;
  }
}
