.text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  &--theme-blue {
    color: rgb(26, 80, 155);
  }

  &--theme-white {
    color: rgb(255, 255, 255);
  }

  &--theme-red {
    color: rgb(255, 5, 5);
  }

  &--bold {
    font-weight: bold;
  }

  &--size-big {
    font-size: 20px;
  }

  &--size-extra-big {
    font-size: 40px;
  }

  &--size-extra-small {
    font-size: 10px;
  }

  &--type-uppercase {
    text-transform: uppercase;
  }

  &--cursive {
    font-style: italic;
  }

  &--link {
    cursor: pointer;

    &:hover {
      // color: rgb(26, 80, 155);
      opacity: .5;
    }
  }

  &--underline {
    text-decoration: underline;
  }

  &--center {
    text-align: center;
  }

  &--margin {
    margin: 10px 0;
  }
}
